[package]
name = "auth"
version.workspace = true
edition.workspace = true
authors.workspace = true

[dependencies]
argon2 = { version = "0.5", features = ["std"] }
chrono = "0.4"
jsonwebtoken = "9"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
thiserror = "1.0"
